.header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
.right {
  display: inline-block;
  padding: 5px;
  text-decoration:underline;
  font-weight: bold;
}
